services:
  # =============== PostgreSQL ===============
  postgres:
    image: postgres
    restart: always
    ports:
      - ${DB_PORT}:5432
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - pgdata:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 5s
      timeout: 5s
      retries: 10

  pgadmin:
    image: dpage/pgadmin4
    restart: always
    ports:
      - 8081:80
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    healthcheck:
      test: ["CMD", "wget", "-O", "-", "http://localhost:80/misc/ping"]
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 120s

  # =============== Kafka ===============
  zookeeper:
    image: 'confluentinc/cp-zookeeper:7.6.0'
    restart: always
    ports:
      - 2181:2181
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    healthcheck:
      test: 'nc -z localhost 2181 || exit -1'
      interval: 5s
      timeout: 5s
      retries: 10

  kafka:
    image: 'confluentinc/cp-kafka:7.6.0'
    restart: always
    ports:
      - ${KAFKA_PORT}:29092
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      # несколько слушателей (kafka-ui + внешние сервисы)
      KAFKA_LISTENERS: INTER://kafka:9092,EXT://0.0.0.0:29092
      KAFKA_ADVERTISED_LISTENERS: INTER://kafka:9092,EXT://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTER:PLAINTEXT,EXT:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTER
      # факторы репликации
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1 
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_DEFAULT_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper
    healthcheck:
      test: 'kafka-topics --bootstrap-server kafka:9092 --list'
      interval: 5s
      timeout: 5s
      retries: 10

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    restart: always
    ports:
      - 8082:8080
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
    depends_on:
      - kafka
    healthcheck:
      test: ["CMD", "wget", "-O", "-", "http://localhost:8080/actuator/health"]
      interval: 10s
      timeout: 10s
      retries: 10
      start_period: 120s

volumes:
  pgdata:
