# ======== Разверните Strimzi, используя установочные файлы ========
#
# kubectl create namespace kafka
# kubectl create -f 'https://strimzi.io/install/latest?namespace=kafka' -n kafka
#
# kubectl get pod -n kafka --watch
# kubectl logs deployment/strimzi-cluster-operator -n kafka -f
#
# ======== Создайте кластер Apache Kafka ========
#
# kubectl apply -f https://strimzi.io/examples/latest/kafka/kafka-single-node.yaml -n kafka
#
# kubectl wait kafka/my-cluster --for=condition=Ready --timeout=300s -n kafka
#
# ======== Отправляйте и получайте сообщения ========
#
# kubectl -n kafka run kafka-producer -ti --image=quay.io/strimzi/kafka:0.49.1-kafka-4.1.1 --rm=true --restart=Never -- bin/kafka-console-producer.sh --bootstrap-server my-cluster-kafka-bootstrap:9092 --topic my-topic
# kubectl -n kafka run kafka-consumer -ti --image=quay.io/strimzi/kafka:0.49.1-kafka-4.1.1 --rm=true --restart=Never -- bin/kafka-console-consumer.sh --bootstrap-server my-cluster-kafka-bootstrap:9092 --topic my-topic --from-beginning
#
# ======== Удаление кластера Apache Kafka ========
#
# kubectl -n kafka delete $(kubectl get strimzi -o name -n kafka)
# kubectl delete pvc -l strimzi.io/name=my-cluster-kafka -n kafka
#
# ======== Удаление кластерного оператора Strimzi ========
#
# kubectl -n kafka delete -f 'https://strimzi.io/install/latest?namespace=kafka'
# kubectl delete namespace kafka

apiVersion: kafka.strimzi.io/v1
kind: KafkaNodePool
metadata:
  name: dual-role
  labels:
    strimzi.io/cluster: my-cluster
spec:
  replicas: 1
  roles:
    - controller
    - broker
  storage:
    type: jbod
    volumes:
      - id: 0
        type: persistent-claim
        size: 100Gi
        deleteClaim: false
        kraftMetadata: shared
---

apiVersion: kafka.strimzi.io/v1
kind: Kafka
metadata:
  name: my-cluster
spec:
  kafka:
    version: 4.1.1
    metadataVersion: 4.1-IV1
    listeners:
      - name: plain
        port: 9092
        type: internal
        tls: false
      - name: tls
        port: 9093
        type: internal
        tls: true
    config:
      offsets.topic.replication.factor: 1
      transaction.state.log.replication.factor: 1
      transaction.state.log.min.isr: 1
      default.replication.factor: 1
      min.insync.replicas: 1
      num.partitions: 100
  entityOperator:
    topicOperator: {}
    userOperator: {}
