apiVersion: v1
kind: ConfigMap
metadata:
  name: pgadmin-servers
data:
  servers.json: |
    {
      "Servers": {
        "1": {
          "Name": "PostgreSQL Server",
          "Group": "Servers",
          "Host": "postgres-rw",
          "Port": 5432,
          "MaintenanceDB": "{{ .Values.DB_NAME }}",
          "Username": "{{ .Values.DB_USER }}",
          "Password": "{{ .Values.DB_PASS }}",
          "SSLMode": "prefer",
          "SavePassword": true,
          "PassFile": ""
        }
      }
    }
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pgadmin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pgadmin
  template:
    metadata:
      labels:
        app: pgadmin
    spec:
      containers:
        - name: pgadmin
          image: dpage/pgadmin4
          ports:
            - containerPort: 80
          env:
            - name: PGADMIN_DEFAULT_EMAIL
              value: "{{ .Values.PGADMIN_EMAIL }}"
            - name: PGADMIN_DEFAULT_PASSWORD
              value: "{{ .Values.PGADMIN_PASSWORD }}"
            - name: PGADMIN_SERVER_JSON_FILE
              value: "/pgadmin4/servers.json"
          volumeMounts:
            - name: pgadmin-servers
              mountPath: /pgadmin4/servers.json
              subPath: servers.json
              readOnly: true
          livenessProbe:
            httpGet:
              path: /misc/ping
              port: 80
            initialDelaySeconds: 120
            periodSeconds: 10
            timeoutSeconds: 10
            failureThreshold: 10
          readinessProbe:
            httpGet:
              path: /misc/ping
              port: 80
            initialDelaySeconds: 120
            periodSeconds: 10
            timeoutSeconds: 10
            failureThreshold: 10
      volumes:
        - name: pgadmin-servers
          configMap:
            name: pgadmin-servers
---
apiVersion: v1
kind: Service
metadata:
  name: pgadmin-service
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 80
      nodePort: 30081
  selector:
    app: pgadmin
